@import '../../../src/styles/variables.scss';

.card-category {
  width: 168px;
  height: 168px;
  background: $white;
  border: 1.4px solid $white-secondary;
  box-shadow: 0px 5.6px 56px rgba(0, 0, 0, 0.05);
  border-radius: 11.2px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    color: $gray;
  }
}

.card-category-link {
  text-decoration: none;
}