@import './variables.scss';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1128px;
  height: auto;

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }
}

article {
  position: relative;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: $gray;
  margin-bottom: 24px;
}