@import '../../styles/variables.scss';

.header-container {
  background-color: #CE3246;
}

.container-input {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 56px;
}

.section-wrap {
  width: 100%;
  margin-top: 47px;
}

.category-cards {
  margin-bottom: 66px;
  display: flex;
  gap: 24px;
  width: 100%;
  overflow: hidden;
}

.title-category {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .plus {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: gray;
    display: flex;
    gap: 28px;
    text-decoration: none;
  }
}

.hamburguer-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 30px;
}