@import '../../styles/variables.scss';

.input-container {
  width: 744px;
  height: 56px;
  background: $white;
  border: 1px solid $white-secondary;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;

  input {
    border: none;
    width: 70%;
  }

  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  input:focus-visible {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  input::placeholder {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
}