@import '../../styles/variables.scss';

header {
  width: 100%;
  min-height: 320px;
  height: auto;
  background: $bg-header;
  display: flex;
  justify-content: center;
  padding: 35px 0;

  nav {
    width: 100%;
    display: flex;
    justify-content: end;
    display: flex;
    font-family: $font-primary;
    list-style: none;
    font-size: 20px;

    .menu {
      width: 50%;
      display: flex;
      justify-content: end;
      gap: 64px;
    }

    .back-bnt {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      gap: 26px;
    }

    a {
      color: $white;
      text-decoration: none;
      display: flex;
      gap: 8px;
    }

    .icon {
      font-size: 24px;
    }

    .active {
      div {
        width: 70%;
        height: 5px;
        border-radius: 2px;
        background: $white;
        margin-top: 5px;
      }
    }
  }

  .title,
  .subtitle {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: $white;
    line-height: 110%;
  }

  .title {
    margin-top: 30px;
    font-size: 72px;
  }

  .containeritle {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  header {
    min-height: 100px;
    height: auto;

    nav {
      display: flex;
      flex-wrap: wrap;

      .back-bnt {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 26px;
      }

      .menu {
        width: 100%;
        justify-content: space-between;
        margin-top: 30px;
      }
    }

    .title {
      font-size: 40px;
    }
  }
}